<div class="mainHome">
    <div class="primeraSeccion">
        <div id="primeraParteS1">
            <a href="#" class="enlacePrimeraSeccion"><img src="../../assets/img/bitcoin.png" alt="" style="width: 20px; height: 20px;">Crea ya tu cartera -></a>
            <h1>Empieza a crear tu cartera de criptomonedas</h1>
            <h5>El lugar más sencillo para comprar y vender criptomonedas. Regístrate y comienza hoy mismo.</h5>
            <div id="inputRegister">
                <input type="text" placeholder="Correo electrónico">
                <button>Empezar</button>
            </div>
            
        </div>
        <div id="segundaParteS2">
            <img src="../../assets/img/imagen1.png" alt="imagen1">
        </div>
    </div>
    <div class="semiSeccion">
        La inversión en criptoactivos no está regulada, puede no ser adecuada para inversores minoristas y perderse la totalidad del importe invertido. Es importante leer y comprender los riesgos de esta inversión que se explican detalladamente en esta <a href="#">ubicación</a>.
    </div>
    <div class="segundaSeccion">
        <img src="../../assets/img/imagen2.png" alt="imagen2">
    </div>
    <div class="terceraSeccion">
        <h1>La plataforma de criptomonedas más fiable</h1>
        <p>¿Por qué escoger esta?</p>
        <div class="seccionFotos3">
            <img src="../../assets/img/imagen3.png" alt="imagen3">
            <img src="../../assets/img/imagen4.png" alt="imagen4">
            <img src="../../assets/img/imagen5.png" alt="imagen5">
        </div>
    </div>
</div>